@model ClimberProfileViewModel

@{
    ViewData["Title"] = "Climber profile";
}
<link rel="stylesheet" href="~/css/ProfileInfo.css" asp-append-version="true" />

<h1 class="profile-heading">@ViewData["Title"]</h1>
<hr />
<div class="profile-container">
    <div class="profile-info-container">
        <div class="profile-details">
            <div class="profile-top">

                <div class="profile-picture">
                    <img src="@Model.ProfilePicture" alt="Profile Picture" />
                </div>
                <h2 class="profile-name">@Model.FirstName @Model.LastName</h2>
            </div>
            <div class="profile-info">
                <div class="info-item">
                    <span class="info-label">Gender:</span>
                    <span class="info-value">@Model.Gender</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Age:</span>
                    <span class="info-value">@Model.Age</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Type of User:</span>
                    <span class="info-value">@Model.TypeOfUser</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Speciality:</span>
                    <span class="info-value">@Model.Speciality</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Level:</span>
                    <span class="info-value">@Model.Level</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Climbing Experience:</span>
                    <span class="info-value">@Model.ClimbingExperience years</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Phone Number:</span>
                    <span class="info-value">@Model.PhoneNumber</span>
                </div>
            </div>
        </div>

        @if (Model.IsOwner)
        {
            <form>

                <button class="btn btn-updateProfile" asp-area="" asp-controller="Profile" asp-action="UpdateClimberProfile" asp-route-id="@Model.Id">Manage Profile</button>
            </form>

        }
    </div>

    <div class="profile-photos">
        <h3>Photos</h3>
        @if (Model.Photos.Any())
        {
            <div id="user-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @foreach (var (photo, index) in Model.Photos.Select((photo, index) => (photo, index)))
                    {
                        <div class="carousel-item @(index == 0 ? "active" : "")">
                            <img src="@photo.ImageUrl" class="d-block photo" alt="User Photo" />
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#user-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#user-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        }
        else
        {
            @if (Model.IsOwner)
            {
                <p>No photos found. Add your first photo.</p>
            }
            else
            {
                <p>@Model.FirstName still doesn't have photos uploaded.</p>
            }
        }

        @if (Model.IsOwner)
        {
            <div class="add-photos">
                <h3>Add Photo</h3>
                <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadPhotos">
                    <input type="file" name="photos" multiple />
                    <button type="submit" class="btn btn-updateProfile">Upload</button>
                </form>
            </div>
        }
    </div>
</div>
