@model CoachProfileViewModel

@{
    ViewData["Title"] = "Coach profile";
}
<link rel="stylesheet" href="~/css/ProfileInfo.css" asp-append-version="true" />

<h1 class="profile-heading">Profile</h1>
<hr />
<div class="profile-container">
    <div class="profile-info-container">
        <div class="profile-details">
            <div class="profile-picture">
                <img src="@Model.ProfilePicture" alt="Profile Picture" />
            </div>
            <h2 class="profile-name">@Model.FirstName @Model.LastName</h2>
            <div class="profile-info">
                <div>
                    <strong>Role in the community:</strong>
                    <span>@Model.TypeOfUser</span>
                </div>
                <div>
                    <strong>Gender:</strong>
                    <span>@Model.Gender</span>
                </div>
                <div>
                    <strong>Coaching Experience:</strong>
                    <span>@Model.CoachingExperience years</span>
                </div>
                <div>
                    <strong>Phone Number:</strong>
                    <span>@Model.PhoneNumber</span>
                </div>
            </div>
        </div>
        @if (Model.IsOwner)
        {

            <form>
                <button class="btn-updateProfile" asp-area="" asp-controller="Profile" asp-action="UpdateCoachProfile" asp-route-id="@Model.Id">Manage Profile</button>
            </form>
        }
    </div>

    <div class="profile-photos">
        <h3>Photos</h3>
        @if (Model.Photos.Any())
        {
            <div id="user-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @foreach (var (photo, index) in Model.Photos.Select((photo, index) => (photo, index)))
                    {
                        <div class="carousel-item @(index == 0 ? "active" : "")">
                            <img src="@photo.ImageUrl" class="d-block w-50" alt="User Photo" />
                        </div>
                    }
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#user-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#user-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        }
        else
        {
            @if (Model.IsOwner)
            {
                <p>No photos found. Add your first photo.</p>

            }
            else
            {
                <p>@Model.FirstName still don't have photos.</p>
            }

        }
        @if (Model.IsOwner)
        {
            <div class="add-photos">
                <h5>Add Photo</h5>
                <form method="post" enctype="multipart/form-data">
                    <input type="file" name="photos" multiple />
                    <button asp-area="" asp-controller="Profile" asp-action="UploadPhotos" type="submit" class="btn btn-updateProfile">Upload</button>
                </form>
            </div>
        }
    </div>
</div>
