@model IEnumerable<ClimbingTripViewModel>

<link rel="stylesheet" href="~/css/lastThree.css" asp-append-version="true" />


<div class="climbing-trips-container">
    <h2 class="centered-heading">Last Three Climbing Trips</h2>

    <hr />
    @foreach (var trip in Model)
    {
        <div class="climbing-trip-card">
            <h3>@trip.Title</h3>
            <img src="@trip.PhotoUrl" alt="Climbing Trip Photo" />
            <p><strong>Destination:</strong> @trip.Destination</p>
            <p><strong>Trip Type:</strong> @trip.TripType</p>
            <p><strong>Duration:</strong> @trip.Duration days</p>
            @if (trip.isOrganizator == true)
            {
                <div class="d-inline mt-3">
                    <a asp-area="" asp-controller="ClimbingTrip" asp-action="Edit" asp-route-id="@trip.Id" class="edit-button">Edit</a>
                    <a class="delete-button" onclick="deleteTrip('@trip.Id')">Delete</a>

                    <input type="hidden" id="baseUrl" value="@Url.Action("Delete", "ClimbingTrip")" />

                </div>
            }
            else
            {
                <a asp-area="" asp-controller="ClimbingTrip" asp-action="Join" asp-route-id="@trip.Id" class="button ">Join Trip</a>
            }
        </div>

    }
</div>
@section Scripts {
    <script src="~/js/OnDeleteAjax.js"></script>
}





