@model ActivityCommentViewModel

@{
    ViewData["Title"] = "Comments section";
}
<link rel="stylesheet" href="~/css/activityComments.css" asp-append-version="true" />
<h1 class="text-center mb-4">Comment Section</h1>
<div class="activity-comments-container">
    <h2 class="centered-heading">@Model.Title</h2>
    <img src="@Model.PhotoUrl" alt="Activity Photo" class="activity-img" />

    <div class="comments-section">
        @if (Model.Comments.Any())
        {
            foreach (var comment in Model.Comments)
            {
                <div class="comment-item">
                    <div class="comment-header">
                        <a asp-controller="Profile" asp-action="UserProfile" asp-route-id="@comment.AuthorId">
                            <img src="@comment.Author.ProfilePictureUrl" width="25px" height="25px"></img>
                            @comment.Author.FirstName @comment.Author.LastName
                            </a>
                        <span class="comment-date">@comment.CreatedOn.ToString("MM-dd-yyyy - HH:mm")</span>
                    </div>
                    <p class="comment-text">@comment.Text</p>
                </div>
            }
        }
        else
        {
            <p class="no-comments">No comments yet. Be the first to write one!</p>
        }
    </div>

    <div class="add-comment-section">
        <h3 class="add-comment-heading">Add Your Comment</h3>
        <form method="post">
            <div class="form-group">
                <input type="text"
                       class="form-control emoji-input"
                       placeholder="Write your comment here"
                       name="NewCommentText"
                       required />
            </div>
            <button asp-asp-controller="Comment"
                    asp-action="AddComment"
                    asp-route-activityId="@Model.Id"
                    asp-route-activityType="@Model.ActivityType"
                    type="submit"
                    class="btn btn-primary">
                Add Comment
            </button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.emoji-input').emojioneArea({
            pickerPosition: 'bottom'
        });
    });
</script>
