@model AdminAllActivitiesViewModel

<h1>All Activities</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Created On</th>
                <th>Title</th>
                <th>Location</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var climbingTrip in Model.ClimbingTrips)
            {
                <tr>
                    <td>@climbingTrip.CreatedOn</td>
                    <td>@climbingTrip.Title</td>
                    <td>@climbingTrip.Location</td>
                    <td>
                        @if (climbingTrip.IsActive ?? true)
                        {
                            <text>Active</text>
                        }
                        else
                        {
                            <text>Not Active</text>
                        }
                    </td>
                    <td>
                        @if (climbingTrip.IsActive ?? true)
                        {
                            <form method="post">
                                <button asp-area="" asp-controller="ClimbingTrip" asp-action="Delete" asp-route-id="@climbingTrip.Id" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        }
                        else
                        {
                            <form method="post">

                                <button asp-area="Admin" asp-controller="Admin" asp-action="ActivateClimbingTrip" asp-route-id="@climbingTrip.Id" class="btn btn-success btn-sm">Activate</button>
                            </form>
                        }
                    </td>
                </tr>
            }

            @foreach (var training in Model.Trainings)
            {
                <tr>
                    <td>@training.CreatedOn</td>
                    <td>@training.Title</td>
                    <td>@training.Location</td>
                    <td>
                        @if (training.IsActive ?? true)
                        {
                            <text>Active</text>
                        }
                        else
                        {
                            <text>Not Active</text>
                        }
                    </td>
                    <td>
                        @if (training.IsActive ?? true)
                        {
                            <form method="post">
                                <button asp-area="" asp-controller="Training" asp-action="Delete" asp-route-id="@training.Id" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        }
                        else
                        {
                            <form method="post">

                            <button asp-area="Admin" asp-controller="Admin" asp-action="ActivateTraining" asp-route-id="@training.Id" class="btn btn-success btn-sm">Activate</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script src="~/lib/jquery/"></script>
    <script src="~/js/OnDeleteAjax.js"></script>
}