@model IEnumerable<TrainingViewModel>

@{
    ViewData["Title"] = "Latest trainings";
}
<link rel="stylesheet" href="~/css/lastThree.css" asp-append-version="true" />

<div class="lastThree-container">
    <h2 class="centered-heading">Latest Trainings</h2>

    <hr />
    @foreach (var training in Model)
    {
        <div class="lastThree-card">
            <h3>@training.Title</h3>
            <img src="@training.PhotoUrl" alt="Training Photo" />
            <p><strong>Location:</strong> @training.Location</p>
            <p><strong>Target:</strong> @training.Target</p>
            <p><strong>Duration:</strong> @training.Duration hour/s</p>
            @if (training.isOrganizator)
            {
                <div class="d-inline mt-3">
                    <a asp-area="" asp-controller="Training" asp-action="Edit" asp-route-id="@training.Id" class="edit-button">Edit</a>

                    <form method="post" enctype="multipart/form-data">

                        <button type="button" class="delete-button" onclick="deleteTrip('@training.Id')">Delete</button>
                        <input type="hidden" id="baseUrl" value="@Url.Action("Delete", "Training")" />
                    </form>

                </div>
            }

        </div>
    }
</div>

@section Scripts {
    <script src="~/js/OnDeleteAjax.js"></script>
}
