@model IEnumerable<TrainingViewModel>

@{
    ViewData["Title"] = "My trainings";
}
<link rel="stylesheet" href="~/css/myTrainings.css" asp-append-version="true" />
<h2 class="centered-heading">My Trainings</h2>
<div class="training-container">
    @if (Model.Any())
    {
        @foreach (var training in Model)
        {
            <div class="training-card">
                <h3>@training.Title</h3>
                <img src="@training.PhotoUrl" alt="Training Photo" class="training-img" />

                <div class="training-details">
                    <p><strong>Location:</strong> @training.Location</p>
                    <p><strong>Duration:</strong> @training.Duration hour/s</p>
                    <p><strong>Target:</strong> @training.Target</p>
                    <p><strong>Price:</strong> @training.Price lv.</p>

                    <div class="button-container">
                        <a asp-area="" asp-controller="Training" asp-action="Edit" asp-route-id="@training.Id" class="edit-button">Edit</a>
                        <button type="button" class="delete-button" onclick="deleteTrip('@training.Id')">Delete</button>
                        <input type="hidden" id="baseUrl" value="@Url.Action("Delete", "Training")" />
                    <a asp-controller="Comment" asp-action="ActivityComments" asp-route-activityId="@training.Id" asp-route-activityType="Training" class=" comments-button">Comments</a>
                    </div>

                </div>
            </div>
        }
    }
    else
    {
        <div class="empty-message-container">
            <p>You still don't have any created trainings.</p>
            <a asp-area="" asp-controller="Training" asp-action="Add" class="add-new-button">Create New Training</a>
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/OnDeleteAjax.js"></script>
    <script>
        function toggleComments(trainingId) {
            const card = document.querySelector(`.training-card[data-training-id='${trainingId}']`);
            card.classList.toggle('expanded');
        }
    </script>
}
